<!DOCTYPE html>
{% load static %}
<html lang="kr">

<head>
    <meta charset="utf-8">
    <title>StudyPlace</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/home.css' %}">
</head>

<body>
    <nav id="top-menu">
        <a href="{% url 'home' %}">
            <div class="logo-box">
                <img class="logo-image" src="{% static 'mainapp/images/logo.png' %}">
                <p class="logo-text1">Study</p>
                <p class="logo-text2">Place</p>
            </div>
        </a>
        <ul class="nav-link">
            <li><a href="#" class="community-link">커뮤니티</a></li>
            {% if user.is_authenticated %}
            <li><a class="login-link" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                <form id="logout" method="POST" action="{% url 'accounts:logout' %}">
                    {% csrf_token %} <input type="hidden" />
                </form>
            </li>
            <div>환영합니다. {{ user.username }} 님!</div>
            {% else %}
            <li><a href="{% url 'accounts:login' %}" class="login-link">로그인</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="footer-logo-box">
            <div class="footer-logo">
                <p class="logo-text1">Study</p>
                <p class="logo-text2">Place</p>
            </div>
            <p class="copyright">Copyright©스터디플레이스</p>
        </div>
        <div class="contact-box">
            <p class="contact-text">Contact</p>
            <div>
                <img class="footer-email" src="{% static 'mainapp/images/email.png' %}">
                <img class="footer-instagram" src="{% static 'mainapp/images/instagram.png' %}">
            </div>
        </div>
    </div>
</body>

</html>