{% extends 'base.html' %}

{% block content %}
        <div class="body-wrapper">
            <div class="body-content">
                <h1>{{ place.name }}</h1>
                <p>{{ place.address }}</p>
                <img src="{{ place.get_photo_url }}" />
                <a href="{% url 'mainapp:placelist' %}">돌아가기</a>
                <a href="{% url 'mainapp:update' place.id %}">수정</a>
                <a href="{% url 'mainapp:delete' place.id %}">삭제</a>
            </div>
        </div>
{% endblock %}