{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="body-wrapper">
    <div class="body-content">
        <div>
            <span class="home-question-1">오늘의</span><span class="home-question-2"> 공부 장소</span><span
                class="home-question-1">는
                어디인가요?</span>
        </div>
        <div class="home-cafe">
            <span class="home-cafe-text">카페</span>
            <span class="home-shortcut-box">
                <span>바로가기</span>
                <img class="home-shortcut-img" src="{% static 'mainapp/images/next.png' %}">
            </span>
        </div>
        <div class="home-library">
            <span class="home-library-text">도서관</span>
            <span class="home-shortcut-box">
                <span>바로가기</span>
                <img class="home-shortcut-img" src="{% static 'mainapp/images/next.png' %}">
            </span>
        </div>
        <div class="home-studycafe">
            <span class="home-studycafe-text">스터디카페</span>
            <span class="home-shortcut-box">
                <span>바로가기</span>
                <img class="home-shortcut-img" src="{% static 'mainapp/images/next.png' %}">
            </span>
        </div>
    </div>
</div>

{% endblock %}